# .gitignore

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Poetry (ya no lo usamos)
poetry.lock
__pypackages__/

# .parquet files
notebooks/*.parquet