# .gitignore

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Poetry (ya no lo usamos)
poetry.lock
__pypackages__/

# .parquet files
notebooks/*.parquet

# archive files
/data/

# Environment variables
infra/.env

# Docker volumes (PostgreSQL, Airflow, dbt)
infra/postgres_data/
infra/airflow/logs/
infra/airflow/plugins/
infra/dbt/target/
infra/dbt/dbt_packages/